body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffa3e2
;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #ffa3e2;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.game-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.game-item {
  background-color: #787878;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  text-align: center;
  transition: transform 0.3s;
}

.game-item:hover {
  transform: translateY(-10px);
}

.game-item img {
  width: 100%;
  height: auto;
}

.game-item h2 {
  margin: 10px 0;
  padding: 0 10px;
}
